.stacks .stack-add {
  box-sizing: border-box;
  width: 270px;
  height: 270px;
  display: inline-block;
  margin: 10px;
  border-radius: 30px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.stacks .stack-add > div {
  box-sizing: border-box;
}

.stacks .stack-add .top {
  height: 220px;
  padding: 15px;
  position: relative;
}

.stacks .stack-add .top .add-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 150px;
  line-height: 150px;
  color: #cbcbcb;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.1);
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
}

.stacks .stack-add .top .add-btn:hover {
  color: #3773d4;
  transition: 0.5s;
}

.stacks .stack-add .bottom {
  background-color: #2f2f2f;
  height: 50px;
  border-radius: 0 0 30px 30px;
  line-height: 50px;
  font-family: Roboto, sans-serif;
  font-size: 28px;
  font-weight: 600;
  color: #ffffff;
}

/* .stack-modal {
  background-color: red;
  width: ;
} */
