.stack-msg {
  margin-top: -10px;
  margin-bottom: 20px;
  font-family: Noto Sans, sans-serif;
}

.stack .stacks {
  height: 600px;
}

.stack .stacks {
  height: 600px;
  overflow: auto;
}

.stack .stacks::-webkit-scrollbar {
  width: 6px;
}

.stack .stacks::-webkit-scrollbar-thumb {
  background-color: #373a44;
  border-radius: 10px;
}

.stack .stacks::-webkit-scrollbar-track {
  background-color: #e1e1ea;
  border-radius: 10px;
}

/* 모바일 */
@media (max-width: 768px) {
  .stack .stacks {
    width: 80%;
    margin: 0 auto;
    padding: 10;
    overflow-x: hidden;
    max-width: 100%;
  }

  .stack .stacks .item,
  .stack .stack-add {
    width: 270px;
  }
}
