.main-title {
  height: 58px;
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
  font-family: Roboto, sans-serif;
  font-size: 50px;
  font-weight: 700;
  line-height: 1.16;
  letter-spacing: -2.5px;
  color: #5d76ff;
  margin-bottom: 40px;
}
