.project-create {
  height: 550px;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 30px;
}

.project-create input,
.project-create button {
  outline: none;
  font-family: Roto Sans, sans-serif;
  text-align: center;
}

.project-create .title {
  height: 90px;
}

.project-create .title input {
  width: 300px;
  height: 25px;
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
}

.project-create input:focus {
  border: 1px solid #6b91fd;
  transition: 0.5s;
}

.project-create .title input:nth-child(1) {
  width: 300px;
  height: 45px;
  font-size: 20px;
}

.project-create input,
.project-create .stack-list,
.project-create .project-desc {
  border: 1px solid #dcdcdc;
  border-radius: 100px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}

.project-create .img-upload-btn {
  box-sizing: border-box;
  width: 180px;
  height: 180px;
  margin: 30px auto;
  border-radius: 20px;
  position: relative;
  cursor: pointer;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}

.project-create .img-upload-btn:hover {
  box-shadow: 0 0 10px 0 #6b91fd;
  transition: 0.5s;
}

.project-create .img-upload-btn .wrapper {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.project-create .img-upload-btn .fas,
.project-create .img-upload-btn span {
  display: block;
  margin: 15px 0;
}

.project-create .img-upload-btn .fas {
  font-size: 40px;
  color: #6b91fd;
}

.project-create .img-upload-btn span {
  font-family: Noto Sans, sans-serif;
  font-size: 13px;
  font-weight: 400;
  color: #213e3b;
}

.project-create .project-info {
  margin-top: 50px;
}

.project-create .project-info > div {
  box-sizing: border-box;
  width: 50%;
  float: left;
  height: 180px;
}

.project-create .project-info .left li {
  height: 55px;
  overflow: hidden;
}

.project-create .project-info .left li > div {
  float: left;
}

.project-create .project-info .left li .title {
  width: 30%;
  font-family: Noto Sans, sans-serif;
  font-size: 23px;
  font-weight: 700;
  font-stretch: normal;
  line-height: 1.4;
  color: #6b91fd;
}

.project-create .project-info .left .stack-list {
  width: 280px;
  height: 30px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
  overflow: auto;
}

.project-create .project-info .left .stack-item {
  display: inline-block;
  width: 100px;
  height: 25px;
  line-height: 30px;
  background-color: #6b91fd;
  border-radius: 10px;
  margin: 3px 5px;
  color: white;
}

.project-create .project-info .left .stack-item p,
.project-create .project-info .left .stack-item .fas {
  display: inline-block;
}

.project-create .project-info .left .stack-item .fas {
  margin-left: 10px;
}

.project-create .project-info .left .stack-add-btn {
  width: 70px;
  height: 30px;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.16);
  background-color: #6b91fd;
  outline: none;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

.project-create .project-info .left .stack-add-btn:hover,
.project .create-btn:hover {
  background-color: #547ef2;
  transition: 0.5s;
}

.project-create .project-info .left .start-date,
.project-create .project-info .left .end-date {
  width: 31%;
  height: 30px;
  margin: 0 5px;
  font-family: Roboto, sans-serif;
}

.project-create .project-info .left .start-date {
  margin-left: -17px;
}

.project-create .project-info .left .role input {
  width: 390px;
  height: 30px;
  margin-left: -7px;
  font-family: Noto Sans, sans-serif;
}

.project-create .project-info .right .project-desc {
  box-sizing: border-box;
  width: 450px;
  height: 150px;
  line-height: 3;
  resize: none;
  border-radius: 10px;
  font-family: Noto Sans, sans-serif;
  padding: 20px;
  outline: none;
}
.project-create .project-info .right .project-desc:focus {
  border: 1px solid#547ef2;
  transition: 0.5s;
}

.project .create-btn {
  cursor: pointer;
  margin: 20px auto;
  width: 130px;
  height: 50px;
  border: none;
  border-top: 20x;
  border-radius: 100px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #ffffff;
  outline: none;
  background-color: #6b91fd;
  color: white;
  font-family: Roboto, "n";
  font-size: 15px;
}
