.project-home {
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
  padding: 10px;
}

.project-home > div {
  width: 1000px;
  height: 550px;
  float: left;
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
}

.project .list {
  box-sizing: border-box;
  width: 360px;
  padding: 15px 10px;
}

.project .list .list-title {
  height: 35px;
  font-family: Roboto, sans-serif;
  font-size: 30px;
  font-weight: 600;
  line-height: 1.17;
  margin-bottom: 15px;
  color: #3773d4;
}

.project .list .list-wrapper {
  height: 470px;
  overflow: auto;
}

.project .list .list-wrapper::-webkit-scrollbar {
  width: 6px;
}

.project .list .list-wrapper::-webkit-scrollbar-thumb {
  background-color: #373a44;
  border-radius: 10px;
}

.project .list .list-wrapper::-webkit-scrollbar-track {
  background-color: #e1e1ea;
  border-radius: 10px;
}

.project .list .list-wrapper .list-content {
  box-sizing: border-box;
  width: 97%;
  height: 173px;
  margin: 5px auto;
  padding: 15px;
  border: solid 1px #cbcbcb;
  background-color: #ffffff;
}

.project .list .list-wrapper .project-selected {
  border: solid 1px #3773d4;
}

.project .list .list-wrapper .list-content .project-title {
  display: block;
  height: 24px;
  font-family: Roboto, sans-serif;
  font-size: 21px;
  line-height: 1.14;
  text-align: left;
  margin-bottom: 20px;
  color: #213e3b;
}

.project .list .list-wrapper .list-content .project-content {
  font-family: Noto Sans, sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 2.2;
  text-align: left;
}

.project .view {
  box-sizing: border-box;
  width: 610px;
  margin-left: 25px;
}

.project .view .header {
  height: 80px;
}

.project .view .header > div {
  box-sizing: border-box;
  padding: 20px 10px 0 25px;
  float: left;
}

.project .view .header .left {
  width: 70%;
  text-align: left;
}

.project .view .header .left .title {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.18;
  color: #3773d4;
}

.project .view .header .left .url {
  font-family: Noto Sans, sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2.15;
  color: #213e3b;
}

.project .view .header .right {
  width: 30%;
}

.project .view .header .right .project-menu {
  display: inline-block;
  width: 30%;
  font-family: Noto Sans, sans-serif;
  font-size: 20px;
  font-weight: 300;
  line-height: 2.15;
  text-align: left;
  color: #213e3b;
  cursor: pointer;
}

.project .view .header .right .project-menu:hover {
  font-weight: 700;
  transition: 0.5s;
}

.project .view .section .img {
  margin: 30px auto;
  width: 258px;
  height: 258px;
  background: url("../../img/gochi-test.jpg") center/258px no-repeat;
}

.project .view .section .info li span {
  box-sizing: border-box;
  display: inline-block;
  font-size: 23px;
  line-height: 2;
  height: 46px;
}

.project .view .section .info li .title {
  box-sizing: border-box;
  width: 20%;
  padding-right: 30px;
  font-family: Noto Sans, sans-serif;
  font-weight: 700;
  color: #3773d4;
  text-align: right;
}

.project .view .section .info li .value {
  width: 70%;
  font-weight: 300;
  text-align: left;
  font-family: Roboto, sans-serif;
}

.project .view .loading {
  margin-bottom: 10px;
  padding: 43% 0;
  box-sizing: border-box;
}

/* 모바일 */
@media (max-width: 768px) {
  .section {
    margin-bottom: 10px;
  }

  .project-home {
    width: 100%;
    padding: initial;
  }

  .project-home > div {
    display: block;
    float: initial;
    margin: 10px auto;
    height: initial;
  }

  .project .list {
    width: 90%;
  }
  .project-home .list .list-wrapper {
    height: initial;
    max-height: 200px;
  }

  .project-home .list .list-wrapper .list-content {
    height: initial;
  }

  .project-home .list .list-wrapper .list-content .project-title {
    margin-bottom: 0;
  }

  .project-home .list .list-content .project-content {
    display: none;
  }

  .project .view {
    margin: 0 auto 10px auto;
    width: 90%;
    min-height: 200px;
  }

  .project .view .header .left {
    width: 100%;
  }

  .project .view .header .left .title {
    font-size: 35px;
  }
  .project .view .header .right {
    display: none;
  }

  .project .view .section .img {
    width: 200px;
    height: 200px;
    background-size: 200px;
  }

  .project .view .section .info li span {
    display: block;
    width: 100%;
    height: 40px;
    font-size: 18px;
    padding-left: 5%;
    line-height: initial;
  }

  .project .view .section .info li .title {
    font-size: 20px;
  }

  .project .view .section .info li .title,
  .project .view .section .info li .value {
    width: 100%;
    text-align: left;
    margin: 0;
  }
}
